<h2>CRUD Faq's</h2>
<hr />

<h4>Cadastrar Faq</h4>

<form class="cadastro">
  <div class="form-row">
    <!--<div class="col">
      <label for="datahora">Data / Hora</label>
      <input type="date" class="form-control" placeholder="Data/Hora do Momento da Postagem" #faqDatahora id="datahora" readonly />
    </div>-->
    <div class="col">
      <label for="produto">Produto</label>
      <input type="text" class="form-control" placeholder="ID do Produto" #faqProduto required id="produto" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="faq">Faq Produto</label>
      <input type="text" class="form-control" placeholder="Texto Faq do Produto" #faqTexto required id="faq" />
    </div>
  </div> <br />
  <button (click)="add(faqTexto.value,faqProduto.value); faqTexto.value='';faqProduto.value=''" class="btn btn-success"> Adicionar </button>
  <input type="reset" value="Limpar" class="reset btn btn-warning">
</form>
<hr />
<h4>Listar/Apagar Faq</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Data</th>
      <th scope="col">Texto</th>
      <th scope="col">Produto</th>
      <th scope="col">Apagar</th>
      <th scope="col">Atualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let faq of faqs">
      <th scope="row"><a routerLink="/faq/detail/{{faq.id}}">{{faq.id}}</a></th>
      <td scope="row">{{faq.datahora}}</td>
      <td>{{faq.texto}}</td>
      <td>{{faq.produto.nome}}</td>
      <td><button class="delete btn btn-danger fa fa-trash" title="Apagar Faq"
        (click)="delete(faq)"></button></td>
      <td><button class="delete btn btn-warning fa fa-edit" title="Atualizar Faq"
        routerLink="/faq/detail/{{faq.id}}"></button></td>
    </tr>
  </tbody>
</table>
<hr />
<app-faq-search></app-faq-search>



