<h2>CRUD ItensVenda's</h2>
<hr />

<h4>Cadastrar ItensVenda</h4>

<form class="cadastro">
  <div class="form-row">
    <div class="col">
      <label for="quantidade">Quantidade</label>
      <input type="number" class="form-control" placeholder="Quantidade" #itensvendaQuantidade required id="quantidade" />
    </div>
    <div class="col">
      <label for="valor">Valor Unitário</label>
      <input type="number" class="form-control" placeholder="Valor Unitário" #itensvendaValor required id="valor" />
    </div>
    <div class="col">
      <label for="venda">ID Venda</label>
      <input type="number" class="form-control" placeholder="ID Venda" #itensvendaIdVenda required id="venda" />
    </div>
    <div class="col">
      <label for="produto">ID Produto</label>
      <input type="number" class="form-control" placeholder="ID Produto" #itensvendaIdProduto required id="produto" />
    </div>
  </div><br />
  <button (click)="add(itensvendaQuantidade.value,itensvendaValor.value,itensvendaIdVenda.value,itensvendaIdProduto.value); 
  itensvendaQuantidade.value='';itensvendaValor.value='';itensvendaIdVenda.value='';itensvendaIdProduto.value=''" class="btn btn-success"> Adicionar </button>
  <input type="reset" value="Limpar" class="reset btn btn-warning">
</form>
<hr />
<h4>Listar/Apagar ItensVenda</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Quantidade</th>
      <th scope="col">Valor Unitário</th>
      <th scope="col">ID Venda</th>
      <th scope="col">ID Produto</th>
      <th scope="col">Apagar</th>
      <th scope="col">Atualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let itensvenda of itensVendas">
      <!--<th scope="row"><a routerLink="/itensvenda/detail/{{itensvenda.id}}">{{itensvenda.id}}</a></th>-->
      <td scope="row">{{itensvenda.quantidade}}</td>
      <td>{{itensvenda.valorUnitario}}</td>
      <td>{{itensvenda.venda}}</td>
      <td>{{itensvenda.produto.nome}}</td>
      <td><button class="delete btn btn-danger fa fa-trash" title="Apagar ItensVenda"
        (click)="delete(itensvenda)"></button></td>
      <td><button class="delete btn btn-warning fa fa-edit" title="Atualizar ItensVenda"
        routerLink="/itens-venda/detail/{{itensvenda.id}}"></button></td>
    </tr>
  </tbody>
</table>
<hr />
<app-itens-venda-search></app-itens-venda-search>