<h2>CRUD Marcas</h2>
<hr />

<h4>Cadastrar Marca</h4>

<form class="cadastro">
  <div class="form-row">
    <div class="col">
      <label for="nome">Nome Marca</label>
      <input type="text" class="form-control" placeholder="Nome da Marca" #marcaNome required id="nome" />
    </div>
    <div class="col">
      <label for="descricao">Descrição</label>
      <input type="text" class="form-control" placeholder="Descrição da Marca" #marcaDescricao id="descricao" />
    </div>
  </div> <br />
  <button (click)="add(marcaNome.value,marcaDescricao.value); marcaNome.value='';marcaDescricao.value=''" class="btn btn-success"> Adicionar </button>
  <input type="reset" value="Limpar" class="reset btn btn-warning" />
</form>
<hr />
<h4>Listar/Apagar Marca</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Apagar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marc of marcas">
      <th scope="row">{{marc.id}}</th>
      <td scope="row"><a routerLink="/marca/detail/{{marc.id}}">{{marc.nome}}</a></td>
      <td>{{marc.descricao}}</td>
      <td><i class="icon-remove"> <button class="delete btn btn-danger" title="Apagar Marca"
        (click)="delete(marc)">x</button> </i></td>
    </tr>
  </tbody>
</table>
<hr />
<app-marca-search></app-marca-search>
