<h2>CRUD Formas de Pagamento</h2>
<hr />

<h4>Cadastrar Forma de Pagamento</h4>

<form class="cadastro">
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nome da Forma de Pagamento" #formaPagamentoForma />
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Descricao da Forma de Pagamento" #formaPagamentoDescricao />
    </div>
  </div>
  <br />
  <div class="form-row">
    <div class="col-1">
      Ativo?
    </div>
    <div class="col-1">
      <input type="radio" class="form-control" #formaPagamentoAtivo name="ativo" />
    </div>
  </div> <br />
  <button (click)="add(formaPagamentoForma.value,formaPagamentoDescricao.value,formaPagamentoAtivo.value); formaPagamentoForma.value='';formaPagamentoDescricao.value='';formaPagamentoAtivo.value=''" class="btn btn-success"> Adicionar </button>
</form>
<hr />
<h4>Listar/Apagar Formas de Pagamento</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Forma</th>
      <th scope="col">Descrição</th>
      <th scope="col">Ativo</th>
      <th scope="col">Apagar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forma of formasPagamento">
      <th scope="row">{{forma.id}}</th>
      <td scope="row">{{forma.forma}}</td>
      <td>{{forma.descricao}}</td>
      <td>{{forma.ativo}}</td>
      <td><i class="icon-remove"><button class="delete btn btn-danger" title="Apagar formaPagamento"
        (click)="delete(forma)">x</button></i></td>
    </tr>
  </tbody>
</table>

