<div *ngIf="cliente">
  <h4>Atualizar Cliente - {{cliente.nome | uppercase}}</h4>
  <hr />

  <form class="cadastro">
    <div class="form-row">
      <div class="col">
        <label for="id">ID</label>
        <input type="text" class="form-control" placeholder="Id do Cliente" #clienteId required id="id" [(ngModel)]="cliente.id" />
      </div>
      <div class="col">
        <label for="nome">Nome Completo</label>
        <input type="text" class="form-control" placeholder="Nome do Cliente" #clienteNome required id="nome" [(ngModel)]="cliente.nome" />
      </div>
      <div class="col">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" placeholder="E-mail do Cliente" #clienteEmail required id="email" [(ngModel)]="cliente.email" />
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" placeholder="CPF do Cliente" #clienteCpf required id="cpf" [(ngModel)]="cliente.cpf" />
      </div>
      <div class="col">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" placeholder="Telefone do Cliente" #clienteTelefone id="telefone" [(ngModel)]="cliente.telefone" />
      </div>
      <div class="col">
        <label for="apelido">Apelido</label>
        <input type="text" class="form-control" placeholder="Apelido do Cliente" #clienteApelido id="apelido" [(ngModel)]="cliente.apelido" />
      </div>
      <div class="col">
        <label for="nomeSocial">Nome Social</label>
        <input type="text" class="form-control" placeholder="Nome Social do Cliente" #clienteNomeSocial id="nomeSocial" [(ngModel)]="cliente.nomeSocial" />
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="sexo">Sexo</label>
        <input type="text" class="form-control" placeholder="Sexo do Cliente" #clienteSexo id="sexo" [(ngModel)]="cliente.sexo" />
      </div>
      <div class="col">
        <label for="dataNascimento">Data de Nascimento</label>
        <input type="date" class="form-control" placeholder="Data de Nascimento do Cliente" #clienteDataNascimento id="dataNascimento" [(ngModel)]="cliente.dataNascimento" />
      </div>
    </div> <br />
    <button (click)="goBack()" class="btn btn-warning">Voltar</button>
    <button (click)="save()" class="reset btn btn-success">Atualizar</button>
  </form>
</div>
<hr />

<!-- 
<div *ngIf="cliente">
  <h2>{{cliente.nome | uppercase}} Details</h2>
  <div><span>id: </span>{{cliente.id}}</div>
  <div>
    <label>Nome:
      <input [(ngModel)]="cliente.nome" placeholder="Nome"/>
    </label>
  </div>
  <div>
      <label>CPF:
        <input [(ngModel)]="cliente.cpf" placeholder="CPF"/>
    </label>
  </div>
  <div>
      <label>E-mail:
        <input [(ngModel)]="cliente.email" placeholder="E-mail"/>
    </label>
  </div>
  <div>
      <label>Telefone:
        <input [(ngModel)]="cliente.telefone" placeholder="Telefone"/>
    </label>
  </div>
  <div>
      <label>Apelido:
        <input [(ngModel)]="cliente.apelido" placeholder="Apelido"/>
    </label>
  </div>
  <div>
      <label>Nome Social:
        <input [(ngModel)]="cliente.nomeSocial" placeholder="Nome Social"/>
    </label>
  </div>
  <div>
      <label>Sexo:
        <input [(ngModel)]="cliente.sexo" placeholder="Sexo"/>
    </label>
  </div>
  <div>
      <label>Data de Nascimento:
        <input class="form-control" id="dataNascimento" type="date" [ngModel]="cliente.dataNascimento | date:'y-MM-dd'" placeholder="Data de Nascimento" #clienteDataNascimento />
    </label>
  </div>
  <button (click)="goBack()">Voltar</button>
  <button (click)="save()">Atualizar</button>
</div>
-->
