<h2>CRUD Produtos</h2>
<hr />

<h4>Cadastrar Produto</h4>

<form class="cadastro">
  <div class="form-row">
    <div class="col">
      <label for="nome">Nome Produto</label>
      <input type="text" class="form-control" placeholder="Nome do Produto" #produtoNome id="nome" />
    </div>
    <div class="col">
      <label for="descricao">Descrição</label>
      <input type="text" class="form-control" placeholder="Descrição do Produto" #produtoDescricao id="descricao" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="preco">Preço Unitário</label>
      <input type="number" class="form-control" placeholder="Preço Unitário" #produtoPreco id="preco" />
    </div>
    <div class="col">
      <label for="unidade">Unidade</label>
      <input type="text" class="form-control" placeholder="Unidade de Medida" #produtoUnidade id="unidade" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="categoria">Categoria</label>
      <input type="text" class="form-control" placeholder="ID de Categoria " #produtoCategoria id="categoria" />
    </div>
    <div class="col">
      <label for="fornecedor">Fornecedor</label>
      <input type="text" class="form-control" placeholder="ID de Fornecedor" #produtoFornecedor id="fornecedor" />
    </div>
    <div class="col">
      <label for="marca">Marca</label>
      <input type="text" class="form-control" placeholder="ID de Marca" #produtoMarca id="marca" />
    </div>
  </div> <br />
  <button (click)="add(produtoNome.value,produtoDescricao.value,produtoPreco.value,produtoUnidade.value,produtoCategoria.value,produtoFornecedor.value,produtoMarca.value); produtoNome.value='';produtoDescricao.value='';produtoPreco.value='';produtoUnidade.value='';produtoCategoria.value='';produtoFornecedor.value='';produtoMarca.value=''" class="btn btn-success"> Adicionar </button>
  <input type="reset" value="Limpar" class="reset btn btn-warning" />
</form>
<hr />
<h4>Listar/Apagar Produtos</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço Unitário</th>
      <th scope="col">Unidade</th>
      <th scope="col">Apagar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <th scope="row">{{produto.id}}</th>
      <td>{{produto.nome}}</td>
      <td>{{produto.descricao}}</td>
      <th>{{produto.precoUnitario}}</th>
      <td>{{produto.unidade}}</td>
      <td><i class="icon-remove"><button class="delete btn btn-danger" title="Apagar produto"
        (click)="delete(marc)">x</button></i></td>
    </tr>
  </tbody>
</table>
