.cabecalho{
  width: 100%;
  float: left;
  padding: 50px 8%;
  background-color: #53bcec;
  margin: 0;
}

.divCabecalho {
  display: inline;
}

.imagem {
  width: 360px;
  height: 92px;
  float: left;
}

header a:visited {
  color:white;
}

.logo a{
  width: 221px;
  height: 48px;
  float: left;
}

.sociais {
  float: right;
}

.sociais a {
  color: #fff;
  float: right;
  margin-left: 12px;
}

.btn-face:hover {
  color: #3B5998;
}

.btn-twitter:hover {
  color: #54A4D6;
}

.btn-github:hover {
  color: #312726;
}

/* AppComponent's private CSS styles */
h1 {
  font-size: 2.2em;
  margin-bottom: 0;
  color: white;
  display: inline;
  margin-top: 5px !important;
}

nav {
  margin: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  /*background-color: #eee;*/
  border-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  /*color: #334953;*/
  color: #fff;
}
nav a:hover {
  color: #039be5;
  border: 1px solid rgba(0, 183, 255, 0.2);
  /*background-color: #cfd8dc;*/
}
nav a.active {
  color: #039be5;
}


.endereco {
  /*border: 1px solid rgba(0, 183, 255, 0.6);*/
  margin: 0;
}

.contato {
  padding: 20px;
}

.rodape{
  width: 100%;
  float: left;
  padding: 10px 8%;
  background-color: #53bcec;
  position: relative;
  margin: 0;
}