<main class="principal container">
  <article class="sobre">
    <h3> Quem Somos </h3>
    <img src="../assets/main.jpg" alt="Unit Shopping" />
    <p> Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. 
      Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. 
      Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. <br> <br> Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. 
      Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. 
      Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. Parágrafo para conteúdo sobre a Loja. 
      Parágrafo para conteúdo sobre a Loja. </p>
  </article>

  <aside class="lateral">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 text-centered">
          <img src="../assets/apple-1.jpg" class="img-fluid img-thumbnail" />
          <p class="lead"> Texto 1 </p>
          <p> Descrição do Texto 1. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="card text-md-center text-sm-center text-xs-center card-outline-warning">
              <div class="card-block">
                  <h4 class="card-title"> Livros </h4>
                  <h6 class="card-subtitle text-muted"> Stephen </h6>
              </div>
              <img src="../assets/livro.jpg" style="width: 50%; height: auto;" />
              <div class="card-block">
                  <p class="card-text"> Livro muito legal! </p>
                  <a href="#" class="card-link"> Comprar </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</main>
