<main class="principal container-fluid-row">
  <article class="sobre">
    <h3> Quem Somos </h3> <hr />
    <img src="../assets/main.jpg" alt="Unit Shopping" />
    <p> A Loja Unit Shopping foi concebida para atender uma demanda crescente de mercado. Descobrimos, através de pesquisas de mercado e realização de enquetes com o público alvo em potencial, a escassez de produto e serviços no mercado e, em contra partida, o aumento exponencial da demanda pelos mesmos. Cenário desproporcional e aquém às demandas crescentes que o mercado necessita. 

      Diante disso, decidimos iniciar o planejamento e o desenvolvimento de uma aplicação que irá resolver essa disparidade de oferta e demanda e pudesse atender ao cenário atual e às demandas do mercado, por fim, equilibrando a balança e solucionando escassez que é vigente atualmente. 
      
      Nós criamos uma aplicação intuitiva e inclusiva, mantendo em mente, desde o início, as necessidades do nosso público alvo e fornecedores, para poder desenvolver uma solução que atendesse os anseios de todos os indivíduos envolvidos no mercado de produtos. 
      
      Nós da Loja Unit Shopping, chegamos para facilitar e prover produtos e serviços eficazes e que atendam o mercado atual e o seu futuro crescimento. Venha conosco, fazer parte dessa evolução que estamos fazendo no mercado de produtos e serviços. Bem vindos ao futuro. 
      
      A Loja Unit Shopping foi desenvolvida utilizando as seguintes ferramentas, Java Script, Angular, CSS, JAVA e HTML. A equipe desenvolvedora é formada pelos seguintes integrantes: André Fillipe, Julio Cesar e José Bioni. </p>
  </article>

  <!--
  <aside class="lateral">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 text-centered">
          <img src="../assets/apple-1.jpg" class="img-fluid img-thumbnail" />
          <p class="lead"> Texto 1 </p>
          <p> Descrição do Texto 1. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="card text-md-center text-sm-center text-xs-center card-outline-warning">
              <div class="card-block">
                  <h4 class="card-title"> Livros </h4>
                  <h6 class="card-subtitle text-muted"> Stephen </h6>
              </div>
              <img src="../assets/livro.jpg" style="width: 50%; height: auto;" />
              <div class="card-block">
                  <p class="card-text"> Livro muito legal! </p>
                  <a href="#" class="card-link"> Comprar </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  -->
</main>
