<h2>CRUD Clientes</h2>
<hr />

<h4>Cadastrar Cliente</h4>

<form class="cadastro">
  <div class="form-row">
    <div class="col">
      <label for="nome">Nome Completo</label>
      <input type="text" class="form-control" placeholder="Nome do Cliente" #clienteNome required id="nome" />
    </div>
    <div class="col">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" placeholder="E-mail do Cliente" #clienteEmail required id="email" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" placeholder="CPF do Cliente" #clienteCpf required id="cpf" />
    </div>
    <div class="col">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control" placeholder="Telefone do Cliente" #clienteTelefone id="telefone" />
    </div>
    <div class="col">
      <label for="apelido">Apelido</label>
      <input type="text" class="form-control" placeholder="Apelido do Cliente" #clienteApelido id="apelido" />
    </div>
    <div class="col">
      <label for="nomeSocial">Nome Social</label>
      <input type="text" class="form-control" placeholder="Nome Social do Cliente" #clienteNomeSocial id="nomeSocial" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="sexo">Sexo</label>
      <input type="text" class="form-control" placeholder="Sexo do Cliente" #clienteSexo id="sexo" />
    </div>
    <div class="col">
      <label for="dataNascimento">Data de Nascimento</label>
      <input type="date" class="form-control" placeholder="Data de Nascimento do Cliente" #clienteDataNascimento id="dataNascimento" />
    </div>
  </div> <br />
  <button (click)="add(clienteNome.value,clienteCpf.value,clienteEmail.value,clienteDataNascimento.value,clienteSexo.value,clienteNomeSocial.value,clienteApelido.value,clienteTelefone.value); clienteNome.value='';clienteCpf.value='';clienteEmail.value='';clienteDataNascimento.value='';clienteSexo.value='';clienteNomeSocial.value='';clienteApelido.value='';clienteTelefone.value=''" class="btn btn-success"> Adicionar </button>
  <input type="reset" value="Limpar" class="reset btn btn-warning" />
</form>
<hr />
<h4>Listar/Apagar Cliente</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">Sexo</th>
      <th scope="col">Nome Social</th>
      <th scope="col">Apelido</th>
      <th scope="col">Telefone</th>
      <th scope="col">Apagar</th>
      <th scope="col">Atualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <th scope="row">{{cliente.id}}</th>
      <td scope="row">
        <a routerLink="/cliente/detail/{{cliente.id}}">{{cliente.nome}}</a>
      </td>
      <td>{{cliente.cpf}}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.dataNascimento | date:'dd/MM/y'}}</td>
      <td>{{cliente.sexo}}</td>
      <td>{{cliente.nomeSocial}}</td>
      <td>{{cliente.apelido}}</td>
      <td>{{cliente.telefone}}</td>
      <td><i class="icon-remove"><button class="delete btn btn-danger" title="Apagar Cliente"
        (click)="delete(cliente)">x</button></i></td>
      <td><i class="icon-remove"><button class="delete btn btn-warning" title="Atualizar Cliente"
        (click)="delete(cliente)">x</button></i></td>
    </tr>
  </tbody>
</table>
<hr />
<app-cliente-search></app-cliente-search>
