<h2>CRUD Fornecedores</h2>
<hr />

<h4>Cadastrar Fornecedor</h4>

<form class="cadastro">
  <div class="form-row">
    <div class="col">
      <label for="nome">Nome Empresa</label>
      <input type="text" class="form-control" placeholder="Nome do Fornecedor" #fornecedorNome required id="nome" />
    </div>
    <div class="col">
      <label for="cnpj">CNPJ</label>
      <input type="text" class="form-control" placeholder="CNPJ do Fornecedor" #fornecedorCnpj required id="cnpj" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="endereco">Endereço</label>
      <input type="text" class="form-control" placeholder="Endereço do Fornecedor" #fornecedorEndereco id="endereco" />
    </div>
    <div class="col">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control" placeholder="Telefone do Fornecedor" #fornecedorTelefone id="telefone" />
    </div>
    <div class="col">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" placeholder="E-mail do Fornecedor" #fornecedorEmail id="email" />
    </div>
  </div> <br />
  <button (click)="add(fornecedorNome.value,fornecedorEndereco.value,fornecedorTelefone.value,fornecedorCnpj.value,fornecedorEmail.value); fornecedorNome.value='';fornecedorEndereco.value='';fornecedorTelefone.value='';fornecedorCnpj.value='';fornecedorEmail.value=''" class="btn btn-success"> Adicionar </button>
  <input type="reset" value="Limpar" class="reset btn btn-warning" />
</form>
<hr />
<h4>Listar/Apagar Fornecedores</h4>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Endereco</th>
      <th scope="col">Telefone</th>
      <th scope="col">CNPJ</th>
      <th scope="col">E-mail</th>
      <th scope="col">Apagar</th>
      <th scope="col">Atualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forn of fornecedor">
      <th scope="row">{{forn.id}}</th>
      <td scope="row"><a routerLink="/fornecedor/detail/{{forn.id}}">{{forn.nome}}</a></td>
      <td>{{forn.endereco}}</td>
      <td>{{forn.telefone}}</td>
      <td>{{forn.cnpj}}</td>
      <td>{{forn.email}}</td>
      <td><button class="delete btn btn-danger fa fa-trash" title="Apagar fornecedor"
        (click)="delete(forn)"></button></td>
      <td><button class="delete btn btn-warning fa fa-edit" title="Atualizar fornecedor"
        routerLink="/fornecedor/detail/{{forn.id}}"></button></td>
    </tr>
  </tbody>
</table>
<hr />
<app-fornecedor-search></app-fornecedor-search>
