<h2>CRUD Categorias</h2>
<hr />

<h4>Cadastrar Categoria</h4>

<form class="cadastro">
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nome da Categoria" #categoriaNome />
    </div>
  </div>
  <br />
  <div class="form-row">
    <div class="col-1">
      Ativo?
    </div>
    <div class="col-1">
      <input type="radio" class="form-control" #categoriaAtivo name="ativo" />
    </div>
  </div> <br />
  <button (click)="add(categoriaNome.value,categoriaAtivo.value); categoriaNome.value='';categoriaAtivo.value=''" class="btn btn-success"> Adicionar </button>
</form>
<hr />
<h4>Listar/Apagar Categoiras</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Ativo</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of categorias">
      <th scope="row">{{cat.id}}</th>
      <td scope="row">{{cat.nome}}</td>
      <td>{{cat.ativo}}</td>
      <td><i class="icon-remove"><button class="delete btn btn-danger" title="Apagar categoria"
        (click)="delete(cat)">x</button></i></td>
    </tr>
  </tbody>
</table>

