<h2>CRUD Categorias</h2>
<hr />

<h4>Cadastrar Categoria</h4>

<form class="cadastro">
  <div class="form-row">
    <div class="col">
      <label for="nome">Nome Categoria</label>
      <input type="text" class="form-control" placeholder="Nome da Categoria" #categoriaNome required id="nome" />
    </div>
  </div>
  <br />
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="atv" required #categoriaAtivo name="ativo" />
    <label class="form-check-label" for="atv">Ativo?</label>
  </div> <br />
  <button (click)="add(categoriaNome.value,categoriaAtivo.value); categoriaNome.value='';categoriaAtivo.value=''" class="btn btn-success"> Adicionar </button>
  <input type="reset" value="Limpar" class="reset btn btn-warning" />
</form>
<hr />
<h4>Listar/Apagar Categoiras</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Ativo</th>
      <th scope="col">Apagar</th>
      <th scope="col">Atualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of categorias">
      <th scope="row">{{cat.id}}</th>
      <td scope="row"><a routerLink="/categoria/detail/{{cat.id}}">{{cat.nome}}</a></td>
      <td>{{cat.ativo}}</td>
      <td><button class="delete btn btn-danger fa fa-trash" title="Apagar categoria"
        (click)="delete(cat)"></button></td>
      <td><button class="delete btn btn-warning fa fa-edit" title="Atualizar categoria"
        routerLink="/categoria/detail/{{cat.id}}"></button></td>
    </tr>
  </tbody>
</table>
<hr />
<app-categoria-search></app-categoria-search>


